<div class="row">
    
    <aside class="col-md-4">
        <section class="user_info">
            <%= gravatar_for @user %>
            <h1>
                <%= @user.name %>
            </h1>
            <p>
                <span class="text-primary">ニックネーム：<%= @user.nickname %></span>
            </p>
            <p>
                <span class="text-primary">生年月日：<%= @user.birthday %></span>
            </p>
            <p>
            (<%= link_to "edit" , edit_user_path %>)
            </p>
        </section>
    </aside>
    
    <div class="col-md-8">
        <!-- ユーザーがマイクロポスト投稿してある場合
        投稿数を表示し -->
        <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
            <!-- パーシャルファイルを表示 -->
            <%= render @microposts %>
        </ol>
        <% end %>
    </div>
    
</div>