<div class="row">
    
    <aside class="col-md-4">
        <section class="user_info">
            <%= render 'profile', user: @user %>
        </section>
    </aside>
    
    <div class="col-md-8">


        <h3><%= @title %> (<%= @count %>)</h3>
        <ol class="users">
            <!-- 投稿を表示 -->
            <%= render @users %>
        </ol>
        <%= paginate @users %>
        
    </div>
    
</div>